:host {
  font-family: 'monospace';
  font-size: 10px;
  background-color: #EEEEEE;
  display: inline-block;
}

p.register_label {
  color: blue;
}

div#erasable div {
  vertical-align: bottom;
}

div.word,
div.col_header {
  display: inline-block;
  width: 48px;
  text-align: right;
  border: 1px solid transparent;
  margin: -1px -1px 0px 0px;
  padding: 1px;
}

div.word.special_register {
  border-color: black;
}

div.word
label {
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  background-color: #CCCCCC;
  cursor: pointer;
}

div.col_header,
div.erasable_row_label {
  font-style: italic;
  font-weight: bold;
}

div.erasable_row_label {
  display: inline-block;
  width: 15px;
}

div.bank {
  border: 1px solid black;
  padding: 5px;
  margin: 3px 3px;
  display: inline-block;
  background-color: #DDDDDD;
}
