/* SPDX-License-Identifier: GPL-2.0-or-later */
/* SPDX-FileCopyrightText: Copyright 2020 Michael Karl Franzl <public.michael@franzl.name> */

@font-face {
  font-family: 'Futura Renner';
  src: url('./FuturaRenner-Regular.woff2');
}

h1, h2, h3, h4 {
  font-family: 'Futura Renner';
  text-transform: uppercase;
}

#errors {
  color: red;
}

#dsky {
  height: 460px;
  width: 480px;
  margin: 10px 0px;
}

dsky-interface {
  transform: scale(.6);
  transform-origin: top left;
}

label {
  display: inline-block;
  width: 200px;
  font-style: italic;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  padding: 2px 4px;
  white-space: nowrap;
}

@media only screen and (min-width: 700px) {
  #dsky {
    float: left;
  }
}
